.play-list {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  opacity: 0.9;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 10px 0;
  box-sizing: border-box;
  .list-wrap {
    width: 100%;
    height: 50vh;
    box-sizing: border-box;
    .item {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 35px;
      border-bottom: 1px solid #c1c1c1;
      font-size: 30px;
      .icon-play {
        width: 14px;
        height: 19px;
        &.none {
          display: none;
        }
      }
      .name {
        margin-left: 8px;
        &.red {
          color: #c20d24
        }
      }
    }
  }
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 40px 0;
    .icon-close {
      width: 39px;
      height: 29px;
    }
  }
}
