.player-box {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  .bg-wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(16px);
    transform: scale(1.3);
    .logo-bg {
      width: 100%;
      height: 100%;
    }
  }
  .player-wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    .logo-wrap {
      position: relative;
      width: 450px;
      height: 450px;
      margin: 150px auto;
      &.playing {
        animation: rotate 5s linear infinite;
      }
      .logo-bg {
        width: 100%;
        height: 100%;
      }
      .logo {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 300px;
        height: 300px;
        margin: auto;
      }
    }
  }
  .btn {
    position: absolute;
    z-index: 1024;
    color: #fff;
  }
  .ctrl-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background: #c20d23;
    .info {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 160px;
      height: 100%;
      .icon-info {
        width: 55px;
        height: 9px;
      }
    }
    .btn-wrap {
      flex: 0 0 300px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 0 30px;
      .icon-prev,
      .icon-next {
        width: 54px;
        height: 54px;
      }
      .icon-play-wrap {
        height: 94px;
        width: 94px;
        .icon-play-pause {
          width: 94px;
          height: 94px;
        }
      }
    }
    .list {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 160px;
      height: 100%;
      .icon-list {
        width: 55px;
        height: 29px;
      }
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
