.logo-sch-head {
	width: 750px;
	.head-wrap {
		position: relative;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: linear-gradient(#ed3a40, #cb1728);
		box-sizing: border-box;
		.icon-back {
			position: absolute;
			bottom: 24px;
			left: 0px;
			width: 60px;
			height: 39px;
		}
		.title {
			font-size: 32px;
			color: #fff;
		}
	}
}
