.index {
	width: 750px;
	.fixed-head {
		position: fixed;
		z-index: 1024;
		top: 0;
		left: 0;
		.head-wrap {
			width: 100%;
			height: 450px;
			background: linear-gradient(#ed3a40, #cb1728);
			box-sizing: border-box;
			overflow: hidden;
			.head {
				text-align: center;
				font-size: 32px;
				color: #fff;
			}
			.user-info {
				width: 100%;
				margin-top: 30px;
				text-align: center;
				.avatar {
					width: 180px;
					height: 180px;
					border-radius: 50%;
				}
				.nick-name {
					margin-top: 5px;
					font-size: 26px;
					color: #fff;
				}
			}
		}
	}
}
